/* credz to http://mnmlist.com/ for amazing style */

body {
	font-family: 'EB Garamond', serif;
	font-size: 1.5em;
	font-weight: 400;
/*	font: 1.35em Hoefler Text, "Times New Roman", Times, serif; */
	line-height: 1.5em;
	color: #333;
	background: #fff; 

	max-width: 30em;
/*	overflow: hidden; couldn't scroll down! */
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
}

h1 {
	font-family: Helvetica;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 7.5%;
}

a {
	color: #303030;
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	border-color: #C0C0C0;
}

h2 {font-size: 1.4em;}

p {margin-bottom: 5%;}

ul {list-style-type: circle;}
li {line-height: 1.8em;}