/* credz to http://mnmlist.com/ for amazing style */

img {
	max-width: 100%;
	margin-bottom: 2%;
}

body {
	font-family: 'EB Garamond', serif;
	font-size: 1.5em;
	font-weight: 400;
/*	font: 1.35em Hoefler Text, "Times New Roman", Times, serif;
*/	line-height: 1.75em;
	color: #333;
	background: #fff;


/*	overflow: hidden; couldn't scroll down! */
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
}


@media screen and (max-width: 320px) { body {
           font-size: 1em;
         }
}

h1 {
	font-family: Helvetica;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 5%;
	margin-left: 15%;
}

h2 {font-size: 1.4em;}

a {
	color: #303030;
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	border-color: #C0C0C0;
}

p {
	margin-bottom: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

ul {list-style-type: circle;}
li {line-height: 1.8em;}


/*footer classes*/

.footer {
	margin-top: 5%;
	margin-bottom: 2.5%;
}

.footer a {
	font-size: 0.75em;
	border: none;
}

.footer a:hover{
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	border-color: #C0C0C0;
} 